# ## -*- mode: toml -*-
#:schema https://www.schemastore.org/cargo.json

[package]
name = "{{ package_name }}"
version = "0.1.0"
authors = ["{{ author_name }} <{{ author_email }}>"]
edition = "2024"
description = "A short description of my package"
readme = "README.md"
repository = "https://github.com/{{ github_owner }}/{{ github_repo }}"
license = "{{ license }}"
keywords = []
categories = []

[badges]
maintenance = { status = "actively-developed" }
